* {
    margin: 0;
    overflow: auto;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;

    gap: 1rem;
}

.validatorBox {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;

    gap: 1rem;
}

input {
    padding: 0.6rem;

    border: 1px solid black;
    border-radius: 1rem;
    background-color: #f2f2f2;
}

.textValidation {
    visibility: hidden;
}

.noSegura {
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;

    color: red;
    visibility: visible;
}

.medioSegura {
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;

    color: orange;
    visibility: visible;
}

.segura {
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;

    color: green;
    visibility: visible;
}
